<div class="hero-content">

  <h2 class="hero-title">Welcome to CSE Motors!</h2>

  <div class="hero-text-box">
    <h3>DMC Delorean</h3>
    <p>
      3 Cup holders <br>
      Superman doors <br>
      Fuzzy dice!
    </p>

    <a id="own-btn" href="#">Own Today</a>
  </div>

  <div class="hero-img">
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
  </div>

</div>
