
<main>
  <h1>Inventory Management</h1>

  <%- messages() %>

  <section>
    <p>Select an option below:</p>

    <ul class="management-links">
      <li><a href="/inv/add-classification" class="primary-button">Add New Classification</a></li>
      <li><a href="/inv/add-inventory" class="primary-button">Add New Inventory Item</a></li>
    </ul>
  </section>
</main>

