
<main>
  <h1>Inventory Management</h1>

  <%- messages() %>

  <section>
    <p>Select an option below:</p>

    <ul class="management-links">
      <li><a href="/inv/add-classification" class="primary-button">Add New Classification</a></li>
      <li><a href="/inv/add-inventory" class="primary-button">Add New Inventory Item</a></li>
    </ul>

    <h2>Manage Inventory</h2>
    <p>Select a classification from the list to see the items belonging to the classification.</p>
    <%- classificationSelect %>

    <table id="inventoryDisplay"></table>
    <noscript>JavaScript must be enabled to use this page.</noscript>
  </section>
</main>

<script src="../../js/inventory.js"></script>


